<div id="oneCol" class="container">
<div id="wrapHeader">
<div id="header" class="row">
<div id="headerLogo" class="columns eight"><img alt="1" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=1&amp;panename=1" title="1" data-runat="server" data-template_pane="1" data-paneid="1" data-panedescription="" /></div>
<div id="headerUtility" class="columns four"><img alt="2" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=2&amp;panename=2" title="2" data-runat="server" data-template_pane="1" data-paneid="2" data-panedescription="" /></div>
</div>
<div id="wrapNav" class="row">
<div class="column twelve"><img alt="3" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=3&amp;panename=3" title="3" data-runat="server" data-template_pane="1" data-paneid="3" data-panedescription="" /></div>
</div>
</div>
<div id="wrapContentOuter" class="row">
<div id="contentPrimary" class="columns eight">
<div class="singleCol"><span style="font-size: 14pt;"><img alt="4" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=4&amp;panename=4" title="4" data-runat="server" data-template_pane="1" data-paneid="4" data-panedescription="" /></span></div>
<div class="leftCol clearfix"><span style="font-size: 14pt;"><img alt="5" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=5&amp;panename=5" title="5" data-runat="server" data-template_pane="1" data-paneid="5" data-panedescription="" /></span></div>
<div class="rightCol clearfix"><span style="font-size: 14pt;"><img alt="6" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=6&amp;panename=6" title="6" data-runat="server" data-template_pane="1" data-paneid="6" data-panedescription="" /></span></div>
<div class="singleCol clearfix"><span style="font-size: 14pt;"><img alt="7" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=7&amp;panename=7" title="7" data-runat="server" data-template_pane="1" data-paneid="7" data-panedescription="" /></span></div>
<div class="leftCol clearfix"><img alt="8" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=8&amp;panename=8" title="8" data-runat="server" data-template_pane="1" data-paneid="8" data-panedescription="" /></div>
<div class="rightCol clearfix"><img alt="9" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=9&amp;panename=9" title="9" data-runat="server" data-template_pane="1" data-paneid="9" data-panedescription="" /></div>
</div>
<div id="contentSecondary" class="columns four"><img alt="10" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=10&amp;panename=10" title="10" data-runat="server" data-template_pane="1" data-paneid="10" data-panedescription="" />
<div class="gutter clearfix"><img alt="11" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=11&amp;panename=11" title="11" data-runat="server" data-template_pane="1" data-paneid="11" data-panedescription="" /></div>
</div>
</div>
<div id="wrapFooter" class="row">
<div id="wrapFooterMenu" class="columns twelve">
<div class="bodyGutter clearfix">
<div class="footerMenuWrap"><img alt="12" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=12&amp;panename=12" title="12" data-runat="server" data-template_pane="1" data-paneid="12" data-panedescription="" /></div>
<div class="footerContactWrap"><img alt="13" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=13&amp;panename=13" title="13" data-runat="server" data-template_pane="1" data-paneid="13" data-panedescription="" /></div>
</div>
</div>
<div id="wrapFooterCopy">
<div class="bodyGutter"><img alt="14" src="https://bellevuecollegefoundation.thankyou4caring.org/view.image?pane=14&amp;panename=14" title="14" data-runat="server" data-template_pane="1" data-paneid="14" data-panedescription="" /></div>
</div>
</div>
</div>
<p>
<script type="text/javascript">// <![CDATA[
function fixPositioning() {
			$('div[id *= "_panelPopup"]').appendTo('body');
		}
		Sys.WebForms.PageRequestManager.getInstance().add_pageLoaded(fixPositioning);
		$('ul.menu li').hover(function () {
			$(this).addClass('hover')
		}, function () {
			$(this).removeClass('hover')
		});
// ]]></script>
</p>
